

.header {
  background-image: linear-gradient(15deg, #ee1a88,orange, #ffea00, #b2f077, #009dff, #b810b8);
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #5b5a5a;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 20%;
}

.forecast-header {
  display: flex;
  justify-content: center;
}

.fiveday-forecast-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 100px));
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  margin: 5px;
  padding: 10px;
}